<a href="https://colab.research.google.com/github/MIRZA151/Iot-Test-No.1/blob/main/Python_coding_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1 
numbers=7658456
print(str(numbers)[::-1])

6548567

In [ ]:
#Q2
a = []
b = input('Enter Number')
for i in b:
  a.append(i)
print(a)

c=[]
for j in range(len(a)):
  c.append(int(a[j]))
print(c)

d=[]
for k in range(len(c)):
  d.append(c[k]**3)
print(d)

final = sum(d)
print(str(final))

c=int(b)
if (final==c):
  print(b,"Is an armstrong number")
elif (final!=c):
   print(b,"Is not an armstrong number")
else:
   print(b,"Is wrong input")

Enter Number25
['2', '5']
[2, 5]
[8, 125]
133
25 Is not an armstrong number

In [ ]:
#Q3
number = int(input("please give a number: "))
for i in range(2, number//2):
    if number %i == 0:
        temp=1
        break
        
if temp == 1:
    print(number ,"is not prime number")
else:
    print(number, "is prime number")

please give a number: 25
25 is not prime number

In [ ]:
#Q4
first,second=0,1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,25):
    if i<=1:
        result=i
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 25
fibonacci series are :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368

In [ ]:
#Q5
number = int(input("Enter a number: "))
reverse,temp = 0, number
while temp!= 0:
  reverse = reverse*10 + temp%10
  temp=temp//10

if reverse==number:
    print("number is palindrom")
else:
    print("number is not palindrom")

Enter a number: 33
number is palindrom

In [ ]:
#Q6
fn = int(input("Enter any number: "))
mn = int(input("Enter any number: "))
ln = int(input("Enter any number: "))

if fn > mn and fn > ln:
  print(fn, "is greater among", mn ,"and",ln) 
if mn > fn and mn > ln:
  print(mn, "is greater among", fn ,"and",ln) 
  if ln > mn and ln > fn:
    print(ln, "is greater among", fn , "and", mn)

Enter any number: 99
Enter any number: 199
Enter any number: 100
199 is greater among 99 and 100

In [ ]:
#Q7
number = input("Enter any number:")

p = set(number)
s = {'1','0'}
if s == p or p == {'0'} or p == {'1'}:
  print("Your given number is binary.")
else:
  print("Your given number is not binary.")

Enter any number:99
Your given number is not binary.

In [ ]:
#Q8
numbers = int(input("Enter quantity of numbers: "))
lst = list()
for i in range(0, numbers):
  elements = int(input())
  lst.append(elements)
print("\nThe Average of your given numbers are: ",sum(lst))

Enter quantity of numbers: 5
66
98
89
55
45

The Average of your given numbers are:  353

In [ ]:
#Q9
x = input("Enter value of x: ")
y = input("Enter value of y: ")

print("\nBefore Swapping")
print("Value of x:", x , "and" , "y:", y)

x , y = y , x

print("\nAfter Swapping")
print("Value of x:", x , "and" , "y:", y)

Enter value of x: 100
Enter value of y: 200

Before Swapping
Value of x: 100 and y: 200

After Swapping
Value of x: 200 and y: 100

In [ ]:
#Q10
x = input("Enter value of x: ")
y = input("Enter value of y: ")
print("\nBefore Swapping")
print("Value of x:", x , "and" , "y:", y)

temp = x
x = y
y = temp
print("\nAfter Swapping")
print("Value of x:", x , "and" , "y:", temp)

Enter value of x: 13
Enter value of y: 6

Before Swapping
Value of x: 13 and y: 6

After Swapping
Value of x: 6 and y: 13

In [ ]:
#q11
numbers = int(input("Enter quantity of numbers: "))
lst = list()
for i in range(0, numbers):
  elements = int(input())
  lst.append(elements)
print("\nThe Average of your given numbers are: ",sum(lst) / int(numbers))

Enter quantity of numbers: 5
6
13
15
26
29

The Average of your given numbers are:  17.8

In [ ]:
#Q12
number = int(input("Enter a number: "))
factorial = 1
if number < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif number == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,number + 1):
       factorial = factorial*i
   print("The factorial of",number,"is",factorial)

Enter a number: 10
The factorial of 10 is 3628800

In [ ]:
#Q13
number = int(input("Enter a number: "))
factorial = 1
if number < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif number == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,number + 1):
       factorial = factorial*i
   print("The factorial of",number,"is",factorial)

Enter a number: 6
The factorial of 6 is 720

In [ ]:
#Q14
user_input = int(input("Enter a number to check even or odd: "))

if(user_input %2 == 0):
  print(user_input, "is a even number.")
elif(user_input %2 != 0):
  print(user_input, "is a odd number.")
else:
  print("Please, Enter Correct Value.")

Enter a number to check even or odd: 25
25 is a odd number.

In [ ]:
#Q15
number=int(input("Enter range of prime numbers: "))
print("Prime numbers:",end=' ')
for n in range(1,number):
    for i in range(2,n):
        if(n%i==0):
            break
    else:
        print(n,end=' ')

Enter range of prime numbers: 99
Prime numbers: 1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#Q16
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
print ("The Prime Numbers in the range are: ") 
for number in range (lower_value, upper_value + 1):  
    if number > 1:
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 13
Please, Enter the Upper Range Value: 25
The Prime Numbers in the range are:
13
17
19
23

In [ ]:
#Q17
fn = int(input("Enter any number: "))
mn = int(input("Enter any number: "))
ln = int(input("Enter any number: "))
if fn < mn and fn < ln:
  print(fn, "is smallest among", mn ,"and",ln) 
if mn < fn and mn < ln:
  print(mn, "is smallest among", fn ,"and",ln) 
  if ln < mn and ln < fn:
    print(ln,"is smaller among", fn , "and", mn)

Enter any number: 50
Enter any number: 100
Enter any number: 150
50 is smallest among 100 and 150

In [ ]:
#Q18
import math
base = int(input("Enter the value for base: "))
exponent = int(input("Enter the value for exponent: "))
print(base ,"to power" , exponent , "is" ,pow(base,exponent))

Enter the value for base: 5
Enter the value for exponent: 32
5 to power 32 is 23283064365386962890625

In [ ]:
#Q19
import math 

number = int(input("Enter the value for base: "))
print("Square to" , number , "is" , pow(number,2))

Enter the value for base: 6
Square to 6 is 36

In [ ]:
#Q20
import math 
number = int(input("Enter the value for base: "))
print("Cube to" , number , "is" , pow(number,3))

Enter the value for base: 6
Cube to 6 is 216

In [ ]:
#Q21
import math
number= int(input("Enter the value for "))
print("Square root to",number,"is" ,int(math.sqrt(number)))

Enter the value for 465
Square root to 465 is 21

In [ ]:
#Q22
def decimalToBinary(n):
    return bin(n).replace("0b", "")

number = int(input("Enter decimal number: "))
print("Binary to", number , "is", decimalToBinary(number))

In [ ]:
#Q23
number = int(input("Enter decimal number: "))
print("Octal to", number , "is", oct(number))

Enter decimal number: 35
Octal to 35 is 0o43

In [ ]:
#Q24
year = int(input("Enter a year: "))

if((year % 400 == 0) or (year % 100 != 0) and  (year % 4 == 0)):   
    print("Year", year ,"is a leap Year");  
  # Else it is not a leap year  
else:  
    print ("Year", year ,"is not a leap Year")

Enter a year: 2003
Year 2003 is not a leap Year

In [ ]:
#Q25
temp = float(input("Enter temperature value in celcius: "))
fahrenheit = (temp * 1.8) + 32
print(temp, "celcius is equivalent to", fahrenheit, "fahrenheit.")

Enter temperature value in celcius: 35
35.0 celcius is equivalent to 95.0 fahrenheit.

In [ ]:
#Q26
temp = float(input("Enter temperature value in fahrenheit: "))
celsius = (temp - 32) * 5/9
print(temp, "fahrenheit is equivalent to", celsius, "celsius.")

Enter temperature value in fahrenheit: 99.0
99.0 fahrenheit is equivalent to 37.22222222222222 celsius.