In [38]:
#Q1 
start=int(input("Enter start of range: "))
end=int(input("Enter end of range: "))
odd_list= range(start,end+1)[start%1::2]
for num in odd_list:
  print(num,end = " ")

Enter start of range: 1
Enter end of range: 99
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
start=int(input("Enter start of range: "))
end=int(input("Enter end of range: "))
odd_list= range(start,end+1)[start%1::2]
for num in odd_list:
  print(num,end = " ")

Enter start of range: 1
Enter end of range: 50
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [41]:
#Q2
sum = 0
odd_list=[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49]
for i in range(0,len(odd_list)):
  sum= sum + odd_list[i]
  print("sum of all odd_list: ",sum)

sum of all odd_list:  1
sum of all odd_list:  4
sum of all odd_list:  9
sum of all odd_list:  16
sum of all odd_list:  25
sum of all odd_list:  36
sum of all odd_list:  49
sum of all odd_list:  64
sum of all odd_list:  81
sum of all odd_list:  100
sum of all odd_list:  121
sum of all odd_list:  144
sum of all odd_list:  169
sum of all odd_list:  196
sum of all odd_list:  225
sum of all odd_list:  256
sum of all odd_list:  289
sum of all odd_list:  324
sum of all odd_list:  361
sum of all odd_list:  400
sum of all odd_list:  441
sum of all odd_list:  484
sum of all odd_list:  529
sum of all odd_list:  576
sum of all odd_list:  625

In [35]:
#Q3
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
numbers.reverse()
print(numbers)

[30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [44]:
#Q4
numbers=[422,876,567,987,678,986]
numbers.sort()
print(numbers[-2::])

[986, 987]

In [50]:
#Q5
numbers=[543,789,567,987,234,989]
numbers.sort()
print(numbers[-2:-1])

[987]

In [56]:
#Q6
sorted_numbers =sorted([234,345,111,125,356,350,670,345,656])
print("Sorted in ascneding order: ",sorted_numbers)

Sorted in ascneding order:  [111, 125, 234, 345, 345, 350, 356, 656, 670]

In [64]:
#Q7
sorted_numbers = sorted([115,125,150,345,786,543,987,565,555,876], reverse=True) 
print("Sorted in descending order: ",sorted_numbers)

Sorted in descending order:  [987, 876, 786, 565, 555, 543, 345, 150, 125, 115]

In [ ]:
#Q8
characters=input("Enter String")
b=" "
for i in string:
  if i not in b:
    b=b+i
print(b)

In [86]:
#q9
# taking user input
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

Enter a character: E
E is a Vowel

In [89]:
#q10
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 99 is 933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000